.vscode
/DPLabMain/bin/
/DPLabMain/obj/
/Singleton/bin/
/Singleton/obj/
/Singleton/Problem/bin/
/Singleton/Problem/obj/
/Singleton/Solution/bin/
/Singleton/Solution/obj/
Bridge/Problem/bin/
Bridge/Problem/obj/
Bridge/Solution/obj/
Bridge/Solution/bin/
FactoryMethod/obj/
FactoryMethod/bin/
